body{
  background: $gradient;
  height: 100%;
  color:#fff;
}

#about,#skills,#works{
  padding-top:8%;
}
.navb{
  margin-left: 2rem;
}
#nav_f{
  background: rgba(54,39,94,1);
}
#nav-mobile{
  width: 100%;
}
.cont1{
  p{
    font-family:Consolas,Monaco;
    display:inline-block;
    font-size: 2em;
  }
  h6{
    font-family:endora;
    display: inline-block;
  }
  h1{
    font-family:bickley;
    font-size:19vh;
  }
  .cat1{
    font-family:cat;
    display:inline-block;
    font-size:5em;
  }
  .name{
    display:inline-block;
  }
}
.coder{
  color:lime;
  font-size:1em;
}
nav ul{
  transform: translateX(32%);
  webkit-transform: translateX(-32%);
}

.cont2{
  h1{
    font-family:witches;
    font-size:3em;
  }
  img{
    width:15em;
    heigth:auto;
  }
  p{
    font-size:20px;
  }
  .cat2{
    font-family:cat;
    font-size:5em;
    text-align:left;
  }
}

.cont3{
  h1{
    font-family:witches;
    font-size:3em;
  }
  img{
    width:15em;
    heigth:auto;
  }
  .horizontal{
    background: transparent!important;
    max-width: 80%;
  }
  p{
    color:#000;
  }
}

.bar{
  .html{
    width: 90%;
    background-color: rgba(54,39,94,1);
    }
    .css{
      width: 80%;
      background-color:#DB078C;
      }
      .js{
        width: 65%;
        background-color: #fedbed;
        }
        .php{
          width: 60%;
          background-color: #fff;}
}

.icons{
  font-size:5em;
}

.cat3{
  font-family:cat;
  font-size:5em!important;
}
.side-nav-menu {
  background: $gradient;
 }

.side-nav li > a{
  color:#fff;
  padding-top: 40px;
  padding-bottom: 80px;
}

nav .button-collapse{
  margin-top: -20px;
}
.right {
  background: transparent;
  border:none;
  font-size:1.5em;
}
button:focus{
  background:rgba(255,114,104,1);
}

.spark{
  background:url("../img/forest1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top:4%;
  padding-bottom:8vh;
}

.forest2{
  height:600px;
  background:url("../img/forestt.png");
  background-color:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: 50% 50%;
  padding-top:10%;
  color:#fff ;
}



