body{
  background: $gradient;
  height: 100%;
  color:#fff;
}

#works{
  padding-top:11vh;
}

#about{
  padding-top:14vh;
  height:100vh;
}
#skills{
  padding-top:14vh;
}
.navb{
  margin-left: 2rem;
}
#nav_f{
  background: rgba(54,39,94,1);
}
#nav-mobile{
  width: 100%;
}
.works{
  padding-top:5%;
  heigth:100vh;
}
.cont1{
  p{
    font-family:Consolas,Monaco;
    display:inline-block;
    font-size: 2em;
  }
  h6{
    font-family:'Endora';
    display: inline-block;
  }
  h1{
    font-family:'Bickley';
    font-size:19vh;
  }
  .cat1{
    font-family:"Cat";
    display:inline-block;
    font-size:5em;
  }
  .name{
    display:inline-block;
  }
}
.coder{
  color:lime;
  font-size:1em;
}
nav ul{
  transform: translateX(32%);
  webkit-transform: translateX(-32%);
}

.cont2{
  h1{
    font-family:'Magic';
    font-size:5vh;
  }
  img{
    width:15em;
    heigth:auto;
  }
  p{
    font-size:2.6vh;
    font-family: 'Roboto', sans-serif;
  }
  .cat2{
    font-family:"Cat";
    font-size:5em;
    text-align:left;
    margin-top:0;
  }
}

.cont3{
  h1{
    font-family:'Magic';
    font-size:5vh;
  }
  img{
    width:15em;
    heigth:auto;
  }
  .horizontal{
    background: transparent!important;
    max-width: 80%;
  }
  p{
    color:#000;
  }
}

.bar{
  .html{
    width: 90%;
    background-color: rgba(54,39,94,1);
    }
    .css{
      width: 80%;
      background-color:#DB078C;
      }
      .js{
        width: 65%;
        background-color: #fedbed;
        }
        .php{
          width: 60%;
          background-color: #fff;}
}
.workTitle{
  font-size:3vh;
}
.wimg{
    align:center;
  }
img.responsive-img{
  max-width: 80%;
}
.description{
  font-size:2.5vh;
  margin-top: 5%;
}
.iconns{
  font-size:5em;
  padding-top: 9vh;
}
.demo{
  margin-right:3%;
}
.sp{
  margin-top:5%;
}
.down{
  margin-top:10%;
}
.side-nav-menu {
  background: $gradient;
 }
 .contW{
  padding-top:5%;
 }
.side-nav li > a{
  color:#fff;
  padding-top: 40px;
  padding-bottom: 80px;
}

nav .button-collapse{
  margin-top: -20px;
}
.right {
  background: transparent;
  border:none;
  font-size:1.5em;
}
button:focus{
  background:rgba(255,114,104,1);
}

.spark{
  background:url("../img/forest1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  padding-top:4%;
  padding-bottom:8vh;
  height:100vh;
}

.forest2{
  height:100%;
  background:url("../img/forestff.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size:cover;
  padding-top:15vh;
  padding-bottom: 18vh;
  color:#fff ;
  .cat3{
    padding:0;
    margin: 0;
    font-family:"Cat";
    font-size:1em!important
  }
}
footer{
  height:100vh;
}
.icons{
  padding-top:5%;
  padding-bottom:10%;
  font-size:11vh;
}

#skills{
  padding-top:11vh;
}

.bar{
  padding-top:2vh;
}

.cd-section {
  height: 100vh;
}
.btm{
  padding-bottom:105%;
}