$gradient: linear-gradient(to bottom, rgba(54,39,94,1) 0%, rgba(54,39,94,1) 10%, rgba(255,114,104,1) 91%, rgba(255,114,104,1) 100%);
$blue: #324a5e;
@font-face {
   font-family: 'cat';
   src: url("../css/fonts/aj-cat-webfont.ttf") format("truetype");
};
@font-face {
   font-family: 'bickley';
   src: url("../css/fonts/BickleyScript.ttf") format("truetype");
};
@font-face {
   font-family: 'endora';
   src: url("../css/fonts/endora-webfont.ttf") format("truetype");
};
@font-face {
   font-family: 'witches';
   src: url("../css/fonts/witches-magic.ttf") format("truetype");
};
@media only screen and (max-width: 600px) { .valign-wrapper { display: inherit; } }
